(
    show_hierarchy: Some(false),
    show_menu: Some(false),
    show_ticks: Some(true),
    show_toolbar: None,
    show_tooltip: None,
    show_scope_tooltip: None,
    show_default_timeline: None,
    show_overview: None,
    show_statusbar: None,
    align_names_right: None,
    show_variable_indices: None,
    show_variable_direction: None,
    show_empty_scopes: None,
    show_parameters_in_scopes: None,
    highlight_focused: Some(true),
    fill_high_values: None,
    primary_button_drag_behavior: None,
    arrow_key_bindings: None,
    clock_highlight_type: None,
    hierarchy_style: None,
    autoload_sibling_state_files: None,
    autoreload_files: None,
    waves: Some((
        source: File(".\\tb\\tb.vcd"),
        format: Vcd,
        active_scope: Some(WaveScope((
            strs: [
                "testbench",
            ],
            id: Wellen((8)),
        ))),
        items_tree: (
            items: [
                (
                    item_ref: (8),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (1),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (2),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (3),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (4),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (5),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (6),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (7),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (15),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (9),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (10),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (11),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (12),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (13),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (14),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (16),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (26),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (17),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (19),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (20),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (21),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (22),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (23),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (24),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (25),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (28),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
            ],
        ),
        displayed_items: {
            (26): Group((
                name: "DDC Data",
                color: Some("Yellow"),
                background_color: None,
                content: [],
                is_open: false,
            )),
            (8): Group((
                name: "SBA signals",
                color: Some("Red"),
                background_color: None,
                content: [],
                is_open: false,
            )),
            (19): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "testbench",
                            "ddc264_control",
                        ],
                        id: Wellen((9)),
                    ),
                    name: "ddc_dvalid",
                    id: Wellen((26)),
                ),
                color: Some("Yellow"),
                background_color: None,
                display_name: "ddc_dvalid",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (17): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "testbench",
                            "ddc264_control",
                        ],
                        id: Wellen((9)),
                    ),
                    name: "start_read_cmd",
                    id: Wellen((46)),
                ),
                color: Some("Yellow"),
                background_color: None,
                display_name: "start_read_cmd",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (23): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "testbench",
                            "ddc264_control",
                        ],
                        id: Wellen((9)),
                    ),
                    name: "data_ready",
                    id: Wellen((47)),
                ),
                color: Some("Yellow"),
                background_color: None,
                display_name: "data_ready",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (11): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "testbench",
                            "ddc264_control",
                        ],
                        id: Wellen((9)),
                    ),
                    name: "ddc_conv",
                    id: Wellen((22)),
                ),
                color: Some("Blue"),
                background_color: None,
                display_name: "ddc_conv",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (14): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "testbench",
                            "ddc264_control",
                        ],
                        id: Wellen((9)),
                    ),
                    name: "ddc_reset",
                    id: Wellen((25)),
                ),
                color: Some("Blue"),
                background_color: None,
                display_name: "ddc_reset",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (2): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "testbench",
                            "ddc264_control",
                        ],
                        id: Wellen((9)),
                    ),
                    name: "clk_i",
                    id: Wellen((18)),
                ),
                color: None,
                background_color: None,
                display_name: "clk_i",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (10): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "testbench",
                            "ddc264_control",
                        ],
                        id: Wellen((9)),
                    ),
                    name: "ddc_clk",
                    id: Wellen((21)),
                ),
                color: Some("Blue"),
                background_color: None,
                display_name: "ddc_clk",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (24): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "testbench",
                            "ddc264_control",
                        ],
                        id: Wellen((9)),
                    ),
                    name: "reg_to_read",
                    id: Wellen((49)),
                ),
                color: None,
                background_color: None,
                display_name: "reg_to_read",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (13): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "testbench",
                            "ddc264_control",
                        ],
                        id: Wellen((9)),
                    ),
                    name: "ddc_clk_cfg",
                    id: Wellen((24)),
                ),
                color: Some("Blue"),
                background_color: None,
                display_name: "ddc_clk_cfg",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (1): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "testbench",
                            "ddc264_control",
                        ],
                        id: Wellen((9)),
                    ),
                    name: "rst_i",
                    id: Wellen((17)),
                ),
                color: None,
                background_color: None,
                display_name: "rst_i",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (15): Group((
                name: "DDC Config",
                color: Some("Blue"),
                background_color: None,
                content: [],
                is_open: false,
            )),
            (9): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "testbench",
                            "ddc264_control",
                        ],
                        id: Wellen((9)),
                    ),
                    name: "start_config_cmd",
                    id: Wellen((41)),
                ),
                color: Some("Blue"),
                background_color: None,
                display_name: "start_config_cmd",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (5): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "testbench",
                        ],
                        id: Wellen((8)),
                    ),
                    name: "adr_i",
                    id: Wellen((5)),
                ),
                color: None,
                background_color: None,
                display_name: "adr_i [15:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (21): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "testbench",
                            "ddc264_control",
                        ],
                        id: Wellen((9)),
                    ),
                    name: "ddc_dout",
                    id: Wellen((28)),
                ),
                color: Some("Yellow"),
                background_color: None,
                display_name: "ddc_dout",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (16): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "testbench",
                            "ddc264_control",
                        ],
                        id: Wellen((9)),
                    ),
                    name: "config_word_reg",
                    id: Wellen((29)),
                ),
                color: None,
                background_color: None,
                display_name: "config_word_reg [15:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (4): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "testbench",
                            "ddc264_control",
                        ],
                        id: Wellen((9)),
                    ),
                    name: "we_i",
                    id: Wellen((20)),
                ),
                color: None,
                background_color: None,
                display_name: "we_i",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (28): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (6): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "testbench",
                        ],
                        id: Wellen((8)),
                    ),
                    name: "dat_i",
                    id: Wellen((6)),
                ),
                color: None,
                background_color: None,
                display_name: "dat_i [19:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (22): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "testbench",
                            "ddc264_control",
                        ],
                        id: Wellen((9)),
                    ),
                    name: "data_reg_counter",
                    id: Wellen((43)),
                ),
                color: Some("Yellow"),
                background_color: None,
                display_name: "data_reg_counter",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (3): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "testbench",
                            "ddc264_control",
                        ],
                        id: Wellen((9)),
                    ),
                    name: "stb_i",
                    id: Wellen((19)),
                ),
                color: None,
                background_color: None,
                display_name: "stb_i",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (20): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "testbench",
                            "ddc264_control",
                        ],
                        id: Wellen((9)),
                    ),
                    name: "ddc_dclk",
                    id: Wellen((27)),
                ),
                color: Some("Yellow"),
                background_color: None,
                display_name: "ddc_dclk",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (25): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "testbench",
                            "ddc264_control",
                        ],
                        id: Wellen((9)),
                    ),
                    name: "data_reg",
                    id: Wellen((45)),
                ),
                color: None,
                background_color: None,
                display_name: "data_reg [19:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (12): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "testbench",
                            "ddc264_control",
                        ],
                        id: Wellen((9)),
                    ),
                    name: "ddc_din_cfg",
                    id: Wellen((23)),
                ),
                color: Some("Blue"),
                background_color: None,
                display_name: "ddc_din_cfg",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (7): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "testbench",
                        ],
                        id: Wellen((8)),
                    ),
                    name: "dat_o",
                    id: Wellen((7)),
                ),
                color: None,
                background_color: None,
                display_name: "dat_o [19:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
        },
        display_item_ref_counter: 28,
        viewports: [
            (
                curr_left: (0.0),
                curr_right: (1.0),
                target_left: (0.0),
                target_right: (1.0),
                move_start_left: (0.0),
                move_start_right: (1.0),
                move_duration: None,
                move_strategy: Instant,
            ),
        ],
        cursor: Some((1, [
            1787333085,
            2,
        ])),
        markers: {},
        focused_item: Some((25)),
        focused_transaction: (None, None),
        default_variable_name_type: Unique,
        scroll_offset: 0.0,
        display_variable_indices: true,
        graphics: {},
    )),
    drag_started: false,
    drag_source_idx: None,
    drag_target_idx: None,
    previous_waves: None,
    count: None,
    blacklisted_translators: [],
    show_about: false,
    show_keys: false,
    show_gestures: false,
    show_quick_start: false,
    show_license: false,
    show_performance: false,
    show_logs: false,
    show_cursor_window: false,
    wanted_timeunit: MicroSeconds,
    time_string_format: None,
    show_url_entry: false,
    variable_name_filter_focused: false,
    variable_filter: (
        name_filter_type: Contain,
        name_filter_str: "",
        name_filter_case_insensitive: true,
        include_inputs: true,
        include_outputs: true,
        include_inouts: true,
        include_others: true,
        group_by_direction: false,
    ),
    sidepanel_width: Some(300.0),
    ui_zoom_factor: None,
)