(
    show_hierarchy: Some(false),
    show_menu: None,
    show_ticks: None,
    show_toolbar: None,
    show_tooltip: None,
    show_scope_tooltip: None,
    show_default_timeline: None,
    show_overview: None,
    show_statusbar: None,
    align_names_right: None,
    show_variable_indices: None,
    show_variable_direction: None,
    show_empty_scopes: None,
    show_parameters_in_scopes: None,
    highlight_focused: Some(true),
    fill_high_values: None,
    primary_button_drag_behavior: None,
    arrow_key_bindings: None,
    clock_highlight_type: None,
    hierarchy_style: None,
    autoload_sibling_state_files: None,
    autoreload_files: None,
    waves: Some((
        source: File(".\\tb\\tb.vcd"),
        format: Vcd,
        active_scope: Some(WaveScope((
            strs: [
                "testbench",
                "i1",
            ],
            id: Wellen((8)),
        ))),
        items_tree: (
            items: [
                (
                    item_ref: (1),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (2),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (3),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (4),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (5),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (6),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (7),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (8),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (10),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (9),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (11),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (12),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (13),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (14),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (15),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
            ],
        ),
        displayed_items: {
            (7): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "testbench",
                        ],
                        id: Wellen((7)),
                    ),
                    name: "dat_o",
                    id: Wellen((4)),
                ),
                color: None,
                background_color: None,
                display_name: "dat_o [15:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (10): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (1): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "testbench",
                        ],
                        id: Wellen((7)),
                    ),
                    name: "rst_i",
                    id: Wellen((6)),
                ),
                color: None,
                background_color: None,
                display_name: "rst_i",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (2): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "testbench",
                        ],
                        id: Wellen((7)),
                    ),
                    name: "clk_i",
                    id: Wellen((3)),
                ),
                color: None,
                background_color: None,
                display_name: "clk_i",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (6): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "testbench",
                        ],
                        id: Wellen((7)),
                    ),
                    name: "dat_i",
                    id: Wellen((5)),
                ),
                color: None,
                background_color: None,
                display_name: "dat_i [15:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (9): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "testbench",
                            "i1",
                        ],
                        id: Wellen((8)),
                    ),
                    name: "ch",
                    id: Wellen((17)),
                ),
                color: None,
                background_color: None,
                display_name: "ch",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (4): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "testbench",
                        ],
                        id: Wellen((7)),
                    ),
                    name: "adr_i",
                    id: Wellen((1)),
                ),
                color: None,
                background_color: None,
                display_name: "adr_i [15:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (14): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "testbench",
                            "i1",
                        ],
                        id: Wellen((8)),
                    ),
                    name: "tmroe",
                    id: Wellen((21)),
                ),
                color: None,
                background_color: None,
                display_name: "tmroe [3:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (15): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "testbench",
                            "i1",
                        ],
                        id: Wellen((8)),
                    ),
                    name: "tout",
                    id: Wellen((15)),
                ),
                color: None,
                background_color: None,
                display_name: "tout [3:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (11): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "testbench",
                            "i1",
                        ],
                        id: Wellen((8)),
                    ),
                    name: "tmren",
                    id: Wellen((18)),
                ),
                color: None,
                background_color: None,
                display_name: "tmren [3:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (3): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "testbench",
                        ],
                        id: Wellen((7)),
                    ),
                    name: "stb_i",
                    id: Wellen((7)),
                ),
                color: None,
                background_color: None,
                display_name: "stb_i",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (13): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "testbench",
                            "i1",
                        ],
                        id: Wellen((8)),
                    ),
                    name: "tmrif",
                    id: Wellen((20)),
                ),
                color: None,
                background_color: None,
                display_name: "tmrif [3:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (5): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "testbench",
                        ],
                        id: Wellen((7)),
                    ),
                    name: "we_i",
                    id: Wellen((8)),
                ),
                color: None,
                background_color: None,
                display_name: "we_i",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (8): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "testbench",
                        ],
                        id: Wellen((7)),
                    ),
                    name: "int_o",
                    id: Wellen((9)),
                ),
                color: None,
                background_color: None,
                display_name: "int_o",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (12): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "testbench",
                            "i1",
                        ],
                        id: Wellen((8)),
                    ),
                    name: "tmrie",
                    id: Wellen((19)),
                ),
                color: None,
                background_color: None,
                display_name: "tmrie [3:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
        },
        display_item_ref_counter: 16,
        viewports: [
            (
                curr_left: (-0.008676395389466062),
                curr_right: (1.1375467810341997),
                target_left: (0.0),
                target_right: (1.0),
                move_start_left: (0.0),
                move_start_right: (1.0),
                move_duration: None,
                move_strategy: Instant,
            ),
        ],
        cursor: Some((1, [
            62913539,
            1,
        ])),
        markers: {},
        focused_item: Some((3)),
        focused_transaction: (None, None),
        default_variable_name_type: Unique,
        scroll_offset: 0.0,
        display_variable_indices: true,
        graphics: {},
    )),
    drag_started: false,
    drag_source_idx: None,
    drag_target_idx: None,
    previous_waves: None,
    count: None,
    blacklisted_translators: [],
    show_about: false,
    show_keys: false,
    show_gestures: false,
    show_quick_start: false,
    show_license: false,
    show_performance: false,
    show_logs: false,
    show_cursor_window: false,
    wanted_timeunit: MicroSeconds,
    time_string_format: None,
    show_url_entry: false,
    variable_name_filter_focused: false,
    variable_filter: (
        name_filter_type: Contain,
        name_filter_str: "",
        name_filter_case_insensitive: true,
        include_inputs: true,
        include_outputs: true,
        include_inouts: true,
        include_others: true,
        group_by_direction: false,
    ),
    sidepanel_width: Some(300.0),
    ui_zoom_factor: None,
)